.body{
    margin:0px;
}
.one
{
    background-color:rgb(152, 218, 220);
    font-size:large;
    text-align:center;
    color:blue;
    width:100%;
    height:60px; 
    border-radius:20px;
}
.img{
    padding-left: 1px;
    padding-right: 1px;
}
.two{
    flex: 80%;
    height: 100%;
    width: 15vw;
    background-color:rgb(212, 143, 143);
    padding-top: 20px;
    padding-left: 20px;
    border-radius:25px;
    padding-bottom: 20px;
    margin-top: 30px;
    font-size: x-large;
  }
.three
{
    background-color:rgb(224, 138, 219);
    text-align: center;
    margin-left: 260px;
    margin-top: 30px;
}